@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root{
    --bg-color : #303630;
    --tertiary-color: #424742;
    --text-color : #FFFFFF;
    --accent-color : #A059FE;
}

.gridContainer {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 90%;
}

.titleContainer {
    grid-row: span 1;
    grid-column: span 1;
}

.notesListContainer {
    grid-row: span 2;
    grid-column: span 1;
    background-color: var(--tertiary-color);
}

.notesEditorContainer {
    grid-row: span 1;
    grid-column: span 1;
}

h1
{
    color : var(--accent-color);
}

input 
{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
}

textarea {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    resize: none;
}

body 
{
    font-family: 'Oswald', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

button 
{
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 4%;
}

.noteListItem{
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: none;
}